<alert-success [hidden]="!showAlert"><div class="container">{{messageAlert}}</div></alert-success>
<div class="container">
  <div class="row">
    <h1>Nossos Empregados</h1>
    <table class="table">
      <thead>
        <tr>
          <td colspan="3"><button class="btn btn-primary" (click)="showModalAdd()">Adicionar Funcionário</button></td>
        </tr>
        <tr>
          <th>Nome</th>
          <th>Salário</th>
          <th>Bônus</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeService.employees">
          <td>{{employee.name}}</td>
          <td [salary]="employee.salary">{{employee.salary | reais}}</td>
          <td>{{employee.bonus | reais}}</td>
          <td>
            <a class="mr-3" href="javascript:void(0)" (click)="showModalEdit(employee)">Editar</a>
            <a href="javascript:void(0)" (click)="showModalRemove(employee)">Deletar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<employee-modal (onSubmit)="modalAddSubmit($event)"></employee-modal>
<employee-modal-delete (onRemove)="onRemoveHandler($event)" [employee]="employeeToDelete"></employee-modal-delete>
<employee-modal-edit (onSubmit)="modalEditSubmit($event)" [employee]="employeeToEdit"></employee-modal-edit>